/* GENERAL */

* {
    box-sizing: border-box;
    border: 0px;
    margin: 0px;
}

.wrapper {
    background-color: #141922;
    height: 100vh;
    width: 100%;
}

.side-menu {
    width: 300px;
    height: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
}

footer {
    position: fixed;
    bottom: 0px;
    background-color: #282828;
    width: 100%;
    height: 100px;
}

/* SIDE MENU STYLE */

.side-menu * {
    color: white;
}

/* MAIN SECTION STYLE */

/* navbar */

.navbar {
    height: 100px;
    width: calc(100% - 300px);
    position: fixed;
    top: 0px;
    right: 0px;
    background-color: black;
    opacity: 0.5;
}

.navbar a {
    display: flex;
    line-height: 100px;
    justify-content: flex-end;
    color: white;
}