/* GENERAL STYLE*/

* {
    box-sizing: border-box;
    border: 0px;
    margin: 0px;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.wrapper {
    background-color: #141922;
    height: calc(100vh - 100px);
    width: 100%;
}

.side-menu {
    width: 300px;
    height: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
}

footer {
    position: fixed;
    bottom: 0px;
    background-color: #282828;
    width: 100%;
    height: 100px;
}

.list-style {
    list-style: none;
    padding: 0px;
}

.list-style li{
    line-height: 30px;
    margin-left: 20px;
}

/* SIDE MENU STYLE */

.side-menu * {
    color: #7e7e7e;
    font-weight: bold;
}

/* logo style */

.logo img{
    height: 60px;
    margin: 20px;
}
/* /logo style */

/* main menu */

.main-menu {
    margin-bottom: 15px;
}

.main-menu .list-style i {
    font-size: 25px;
}

.main-menu .list-style span {
    line-height: 30px;
}
/* /main menu */

/* secondary menu */
.secondary-menu {
    height: 100%;
    overflow: hidden;
}

.secondary-menu h3 {
    margin-left: 20px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.secondary-menu .add_btn {
    margin-left: 20px;
    line-height: 40px;
    text-decoration: none;
}

.secondary-menu .add_btn i {
    color: black;
    background-color: #a3a3a3;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
}

.secondary-menu .add_btn span {
    padding-left: 5px;
}

.playlist-list {
    overflow-x: auto;
    height: 80%;
    margin-top: 15px;
}
/* /secondary menu */

/* interaction section */

.aside-bottom {
    margin: 10px 20px 10px 20px;
}

.aside-bottom a {
    text-decoration: none;
}

.aside-bottom hr {
    width: 100%;
    height: 1px;
    background-color: #7e7e7e;
    margin: 8px 0px;
}

/* /interaction section */

/* MAIN SECTION STYLE */

/* navbar */

.navbar {
    height: 100px;
    width: calc(100% - 300px);
    position: fixed;
    top: 0px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navbar a {
    text-decoration: none;
    border: 2px white solid;
    border-radius: 40px;
    padding: 15px 30px;
    margin-right: 10px;
    text-transform: uppercase;
    font-weight: bold;
}

/* FOOTER - CONTROL SECTION */

.control-pannel{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.control-pannel * {
    color: white;
}

/* song preview */
.song-preview{
    display: flex;
    flex-direction: row;
}

.song-preview img{
    margin: 25px 10px;
    max-width: 50px;
    max-height: 50px;
}

.song-preview h3 {
    line-height: 12px;
    padding: 39px 0px;
}

.song-preview h3 span {
    font-size: 10px;
    line-height: 10px;
}

.library {
    padding-top: 42px;
}

.library i[class*="fa-folder"]{
    margin-left: 15px;
}

.library i[class*="fa-heart"]{
    margin-left: 30px;
}
/* /song preview */

/* song control */
.song-control {
    width: 700px;
}

.song-control .first-row{
    display: flex;
    justify-content: space-between;
    width: 200px;
    margin: auto;
}

.first-row {
    /* background-color: teal; */
}

.first-row i{
    line-height: 50px;
    font-size: 20px;
}

i.bigger {
    font-size: 35px;
}

.second-row {
    /* background-color: seagreen; */
    display: flex;
    justify-content: space-between;
    line-height: 50px;
}

.second-row span {
    margin: 0px 30px;
}

.progress-bar {
    position: relative;
    height: 4px;
    margin: 23px 0px;
    background-color: #7e7e7e;
    width: 80%;
}

.white-bar {
    position: absolute;
    left: 0px;
    width: 30%;
    height: 4px;
    background-color: white;
}
/* /song control */

.reproduction-control {
    width: 300px;
}

/* COLOR STYLE */

.clr_grey {
    color: #7e7e7e;
}

.clr_white {
    color: white;
}